<div>
    <div class="main-container">
        <app-partial></app-partial>
        <div class="state">
            <h4>
                stateValue
                <button
                    (click)="onClick('refresh')"
                    style="float: right">
                    Refresh
                </button>
            </h4>
            <pre class="data">{{ stateValue | json }}</pre>
        </div>
        <div class="state">
            <h4>stateObservable</h4>
            <pre class="data">{{ stateObservable | async | json }}</pre>
        </div>
        <div class="state">
            <h4>stateSignal</h4>
            <pre class="data">{{ stateSignal() | json }}</pre>
        </div>
    </div>
    <div class="buttons">
        <button (click)="onClick('dispatch')">Dispatch</button>
        <button (click)="onClick('set')">Set</button>
        <button (click)="onClick('extend')">Extend</button>
        <button (click)="onClick('unset')">Unset</button>
    </div>
</div>
<div class="actions-log">
    @for(log of logs; track log.type){
    <div class="log">
        <div class="action">{{ log.action }}</div>
        <div class="type">{{ log.type }}</div>
        <pre class="data">{{ log.data | json }}</pre>
    </div>
    }
</div>
